.col-md-6.col-xs-12
	= simple_form_for @user, url: users_path do |form|
		= form.input :name, label: 'Your username please', error: 'Username is mandatory, please specify one'
		= form.input :email, hint: 'No special characters.'
		= form.button :submit
